.about {
  grid-row: y1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.aboutMe {
  display: flex;
  position: relative;


  /* margin change when responsive */
  margin: 60px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.rectangle {
  position: absolute;
    z-index: 1;
    background-color: #dfe300;
    width: 759px;
    height: 120px;
    transform: rotate(
45deg
);
    left: -21%;
    top: 91%;
}
.content {

  z-index: 2;
  box-shadow: 0px 4px 4px #111111;

  background-color: #272727;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.content p {
  color: white;
  font-size: 24px;
  margin: 27px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2em;
}
.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titles span {
  width: 30%;
  height: 0.5px;
  background-color: #dfe300;
}

.education {
  display: flex;
  position: relative;
  margin: 60px ;
  height: 200px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.rectangle_two {
  position: absolute;
  z-index: 1;
  background-color: #dfe300;
  width: 719px;
  height: 120px;
  transform: rotate(
139deg
);
  left: 49%;
  top: 53%;
}

.skills {
    display: flex;
    position: relative;
    margin: 60px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rectangle_three {
    position: absolute;
    z-index: 1;
    background-color: #dfe300;
    width: 713px;
    height: 121px;
    transform: rotate(50deg);
    left: -32%;
    top: 75%;
}

.content_img_languages{
    padding: 50px;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 13%);
    overflow: hidden;
    display: flex;
    background-color: #1b1b1b;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3%;
    justify-content: space-evenly;
}
.cards_programming{
    width: 23%;
    box-shadow: 0 0 6px 3px rgb(0 0 0 / 25%);
    height: 100px;
    overflow: hidden;
    background-color: #dfe300;
    margin: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards_programming p{
  font-size: 30px;
  z-index: 5;
  font-weight: bold;
  color: #272727;
}


/*
====Resposive=======
*/

@media only screen and (min-width: 1400px) {
  /* For tablets: */
  

  

  .rectangle_two{
    width: 1074px;
  }
}
@media only screen and (max-width: 800px) {
  /* For tablets: */
  .aboutMe {
    /* margin change when responsive */
    margin: 0px;
    margin-top: 25%;
  }
  .education {
    margin: 0px;
    height: 500px;
  }
 
  .rectangle_two {
    display: none;
  }
  .skills{
  
    margin: 0;

  }
  .cards_programming{
    width: 100%;
  
}
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */

  .content {
    margin: 0px;
  }
  .aboutMe {
    margin-top: 50%;
  }
  .education {
    margin: 0px;
    height: 750px;
  }
  .rectangle_two {
    display: none;
  }


}
