/*==========
 Colors
  Primary: #171717 "black"
  Secundary: #DFE300 "yellow"
  Tertiary: #1b1b1b "black-gray"

 ==============*/

.main{
    grid-column: x1 / x3;
    grid-row: y0 / y3;

    display: grid;
    grid-template-rows: [y0] auto [y1] 150px;
  }
  
/*
 <---Content-main--->
*/


.content_title_page{
    grid-row: y0/y0;
    display: flex;

}

.content_texts{
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.subcontent_text{
  color: white;
  text-align: center;
}
.firstText{
  font-size: 80px;
  letter-spacing: 0.2em;
}
.seconText{
  color: #858585;
  font-size: 36px;
  letter-spacing: 0.2em;
  text-align: center;
  
}


.content_picture_yellow{
  width: 20%;
  display: flex;
  flex-wrap: wrap;
}

/*
====Resposive=======
*/

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main{
    grid-column: x0;
    grid-row: y1;
    }
    .content_title_page{
      flex-direction: column;
    }
    .content_texts{
      width: auto ;
    }
    .content_picture_yellow{
      width: 100%;
    }
    .bock_yellow{
      width: 100%;
      height: 20px;
    }
   
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
   
  }
